*{ margin: 0;
    padding: 0;
     box-sizing:border-box;
    }

 img{ 
   max-width: 100%;
 } 
 .common-btn{
    background-color:rgb(5, 5, 249);
     padding: 12px 24px;
      border-radius: 8px;
       font-weight: bold;
        font-size: 12px;
         color: white;
          border: none;
           cursor: pointer;
          }
  .common-btn:hover{
    background-color: rgb(87, 87, 253);
    }
    .Outline-btn{
      color: blue;
       font-weight: bold;
      padding: 12px 24px;
      border-radius: 8px;
      font-size: 12px;
      border: 1px solid blue;
       cursor: pointer;
      width: 100%;
    margin-top: 20px;
    }
    .Outline-btn:hover{
      background-color: rgb(213, 213, 243);
    }
   .container{
       max-width:1200px;
        margin: 0 auto;
        padding: 0 20px;
       } 
       
  /* navbar style*/ 
  .logo img{
    width: 120px;
    }
  nav{
    display: flex;
     justify-content: space-between;
      align-items: center; 
      padding: 12px 0; 
   } 
  .nav-menu{
    display: flex;
     list-style: none;
      gap: 25px;
      
    }
   ul li a{
       text-decoration: none;
        color: #5e5e5e; 
       }
    ul li a:hover{
       color: #a7a6a6;
       } 

       /* hero section style */
     .hero-section{ 
      display:flex; 
      justify-content:center;
       align-items:center;
        background-image:linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.6)),url("assets/banner.jpg"); 
               
        height: 600px;
         background-size: cover;
          background-position: center;
          }
      .hero-content {
          display: flex;
           flex-direction: column;
            text-align: center;
            align-items: center;
             color: white;
             gap: 20px; 
            }.hero-content h1{
    font-size: 60px;
    font-weight: 60px;
}

.hero-content p{
    max-width: 600px;
    font-size: 18px;
}
            .hero-content .common-btn{
               padding: 16px 32px;
                font-size: 16px;
                margin-top: 300px;
            }

            /* speaker section */
.speakers-Parent{
  font-weight: bold;
    padding: 80px 0;
   
    
}
.speakers-Parent h2{
    font-size: 40px;
    text-align: center;
    margin-bottom: 20px;
}

.speaker-content{
    margin-top: 20px;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(2, 1fr);
}
.speaker-card img{
    width: 100%;
    display: block;
}
.speaker-card{
    border: 1px solid #dbdada;
    border-radius: 10px;
    overflow: hidden;
}
.card-content{
  text-align:left;
  padding: 15px;
  margin: 5px;
}


.card-content span{
  color: blue;
  font-size: 12px;
}

.card-content p{
  font-size: 13px;
  color: #979696;
}

/* secure section style */
.secure{
  text-align: center;
  padding: 80px 0;
}
.secure h2{
   font-size: 40px;
    margin-bottom: 10px;
}

.secure > .container > p{
    color: #979696;
    margin-bottom: 50px;
}
.secure-content{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
}
.pricing-card{
    border: 1px solid #cfd0d2;
    border-radius: 12px;
    padding: 40px;
    text-align: left;
}
 .pricing-card h3{
    font-size: 40px;
    margin: 12px 0;
}
.pricing-card p{
  color: #979696;
}

.pricing-card hr{
    margin: 30px 0;
}

.pricing-card ul{
    margin: 20px 0;
    padding-left: 15px;
   
}

.pricing-card li{
    margin-bottom: 12px;
     color: #504f4f;
}

.pricing-card li::marker{
  color: blue;
}
.pricing-card .common-btn{
    width: 100%;
    margin-top: 20px;
}
.pro{
  background-color: rgb(5, 5, 58);
  color: rgb(222, 225, 237);
}
.pro li{
  color: rgb(189, 189, 194);
}