*{ margin: 0;
    padding: 0;
    box-sizing: border-box; 
 }
 body{
    font-family: "Poppins", sans-serif;

 }
 img{ 
   max-width: 100%;
 } 
 .common-btn{
    text-decoration: none;
    background-color:rgb(5, 5, 249);
     padding: 12px 24px;
      border-radius: 8px;
       font-weight: bold;
        font-size: 12px;
         color: white;
          border: none;
           cursor: pointer;
          }
  .common-btn:hover{
    background-color: rgb(87, 87, 253);
     transform:translateY(-5px);
    }
    .Outline-btn{
        text-decoration: none;
        background-color: white;
      color: blue;
      font-weight: 900;
      padding: 12px 24px;
      border-radius: 8px;
      font-size: 12px;
      border: 1px solid rgb(2, 2, 249);
       cursor: pointer;
  
    }
    .Outline-btn:hover{
      background-color: rgb(213, 213, 243);
       transform:translateY(-5px);
    }
   .container{
       max-width:1200px;
        margin: 0 auto;
        padding: 0 20px;
       } 
       
  /* navbar style*/ 
  .logo img{
    width: 120px;
    }
  nav{
    display: flex;
     justify-content: space-between;
      align-items: center; 
      padding: 12px 0; 
   } 
  .nav-menu{
    display: flex;
     list-style: none;
      gap: 25px;
      
    }
   ul li a{
       text-decoration: none;
        color: #3b3a3a;
  
       }
    ul li a:hover{
       color: #5e5c5c;
       } 

       /* hero section style */
     .hero-section{ 
      display:flex; 
      justify-content:center;
       align-items:center;
        background-image:linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.6)),url("assets/banner.jpg"); 
        height: 600px;
         background-size: cover;
          background-position: center;
          }
      .hero-content {
          display: flex;
           flex-direction: column;
            text-align: center;
            align-items: center;
             color: white;
             gap: 20px; 
            }
.hero-content h1{
    font-size: 60px;
    font-weight: bold;
    }
.hero-content p{
max-width: 600px;
}

 .hero-content .common-btn{
               padding: 14px 30px;
                font-size: 15px;
                margin-top: 150px;
            
            }

            /* speaker section */
.speakers-Parent{
  font-weight: bold;
    padding: 80px 0;
   
    
}
.speakers-Parent h2{
    font-size: 40px;
    text-align: center;
    margin-bottom: 20px;
}

.speaker-content{
    margin-top: 20px;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(2, 1fr);
}
.speaker-card img{
    width: 100%;
    display: block;
}
.speaker-card{
    border: 1px solid #dbdada;
    border-radius: 10px;
    overflow: hidden;
}
.card-content{
  text-align:left;
  padding: 15px;
  margin: 5px;
}


.card-content span{
  color: blue;
  font-size: 12px;
}

.card-content p{
  font-size: 13px;
  color: #979696;
}

/* secure section style */
.secure{
  text-align: center;
  padding: 80px 0;
}
.secure h2{
   font-size: 40px;
    margin-bottom: 10px;
}

.secure > .container > p{
    color: #5b5959;
    margin-bottom: 50px;
}
.secure-content{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
}
.pricing-card{
    border: 1px solid #cfd0d2;
    border-radius: 12px;
    padding: 40px;
    text-align: left;
}
.pricing-card:hover{
    transform:translateY(-10px);
    box-shadow:0 20px 40px  rgba(0, 0, 0, 0.347);
}
 .pricing-card h3{
    font-size: 40px;
    margin: 12px 0;
}
.pricing-card p{
  color: #979696;
}

.pricing-card hr{
    margin: 30px 0;
}

.pricing-card ul{
    margin: 20px 0;
    padding-left: 15px;
   
}

.pricing-card li{
    margin-bottom: 12px;
     color: #504f4f;
}

.pricing-card li::marker{
  color: blue;
}
.pricing-card button {
    width: 100%;
    margin-top: 20px;
}

.pro{
  background-color: rgb(5, 5, 58);
  color: rgb(222, 225, 237);
}
.pro li{
  color: rgb(189, 189, 194);
}


    /* missing section style  */    

.cta{
    margin:100px auto;
    padding:80px 40px;
    border-radius:20px;
    background:linear-gradient(135deg,#35bcf1,#0251fd,#6b1ee6);
    color:#fff;
    text-align:center;

}

.cta-content-had{
    display:inline-block;
    padding:10px 20px;
    border-radius:30px;
    background:rgba(255,255,255,.15);
    margin-bottom:25px;
    font-weight:600;
}

.cta h2{
    font-size:56px;
    line-height:1.2;
    margin-bottom:20px;
}

.cta p{
    max-width:650px;
    margin:0 auto 35px;
    font-size:18px;
    line-height:1.8;
}
.cta-content .Outline-btn{
    display: inline-flex;
    align-items:center;
    justify-content: center;
    gap:18px;
    padding:15px 30px;
    font-size:18px;
    border:none;
    border-radius:15px;
    
}

.advice{
    display:flex;
    justify-content:space-evenly;
    margin-top:70px;
    flex-wrap:wrap;
}

.advice-content{
    flex:1;
    min-width:220px;
     text-align:center;
     border-right:1px solid rgba(201, 196, 196, 0.571);
}
.icon{
    width:50px;
    height:50px;
    display:flex;
    border-radius: 12px;
    justify-content:center;
    align-items:center;
    margin:0 auto 25px;
    font-size:35px;
    color:white;
}
.tag{
    background:#03d6d6;
}

.users{
    background:#0676f7;
}

.calendar{
    background:#d84ee8;
}
.advice-content:last-child{
    border-right: none;
}

.advice-content h3{
    margin-bottom:15px;
    font-size:22px;
}

.advice-content p{
    font-size:16px;
}


/* footer style */
.footer{
    background:#030141;
    color:#fff;
    padding:60px 0 10px;
}

.footer-content{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:30px;
}

.footer-logo img{
    width:120px;
}

.footer hr{
    border:none;
    border-top:1px solid rgb(163, 162, 162);
    margin-bottom: 30px;
}

.footer-links h4{
margin-bottom: 20px;
}

.links{
    display:flex;
     gap: 15px;
     
}

.links a{
    width:50px;
    height:50px; 
    display:flex;
    justify-content:center;
    align-items:center;
    text-decoration:none;
    color:#fff;
    border:1px solid rgb(95, 89, 117);
    border-radius:50%;
}

.links a:hover{
    background:#2277a2;
}

.copyright{
    text-align:center;
    color:#ffffff;
    font-size:20px;
}