*{ margin: 0;
    padding: 0;
     box-sizing:border-box;
    }

 img{ 
   max-width: 100%;
 } 
 .common-btn{
    background-color:rgb(5, 5, 249);
     padding: 12px 24px;
      border-radius: 8px;
       font-weight: bold;
        font-size: 12px;
         color: white;
          border: none;
           cursor: pointer;
          }
  .common-btn:hover{
    background-color: rgb(77, 77, 250);
    }
   .container{
       max-width:1200px;
        margin: auto;
        padding: 0 20px;
       } 
  /* navbar style*/ 
  .logo img{
    width: 120px;
    }
  nav{
    display: flex;
     justify-content: space-between;
      align-items: center; 
      padding: 12px 0; 
   } 
  .nav-menu{
    display: flex;
     list-style: none;
      gap: 25px;
    }
   ul li a{
       text-decoration: none;
        color: #5e5e5e;
        transition: color .3s;
       }
    ul li a:hover{
       color: #a7a6a6;
       } 

       /* hero section style */
     .hero-section{ 
      display:flex; 
      justify-content:center;
       align-items:center;
        background-image:linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.6)),url("assets/banner.jpg"); 
               
        height: 600px;
         background-size: cover;
          background-position: center;
          }
      .hero-content {
          display: flex;
           flex-direction: column;
            text-align: center;
            align-items: center;
             color: white;
             gap: 20px; 
            }
            .hero-content .common-btn{
               padding: 16px 32px;
                font-size: 16px;
                margin-top: 30px;
            }

            /* speaker section */
.speakers-Parent{
  font-weight: bold;
    margin-top: 50px;
   
    
}
.speakers-Parent h2{
    font-size: 40px;
    text-align: center;
    margin-bottom: 20px;
}

.speaker-content{
    margin-top: 20px;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(2, 1fr);
}
.speaker-card img{
    width: 100%;
    display: block;
}
.speaker-card{
    border: 1px solid #dbdcdf;
    border-radius: 10px;
    overflow: hidden;
}
.card-content{
  text-align:left;
  padding: 15px;
  margin: 5px;
}


.card-content span{
  color: blue;
  font-size: 12px;
}

.card-content p{
  font-size: 13px;
  color: rgb(128, 126, 126);
}
